<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>A</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>34.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>36.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>B</string>
        <key>x</key>
        <real>40.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>28.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>32.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>C</string>
        <key>x</key>
        <real>74.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>D</string>
        <key>x</key>
        <real>106.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>33.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>-1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>36.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>E</string>
        <key>x</key>
        <real>144.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>36.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>F</string>
        <key>x</key>
        <real>177.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>28.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>G</string>
        <key>x</key>
        <real>207.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>33.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>H</string>
        <key>x</key>
        <real>246.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>30.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>35.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>I</string>
        <key>x</key>
        <real>283.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>19.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>25.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>J</string>
        <key>x</key>
        <real>310.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>31.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>-1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>K</string>
        <key>x</key>
        <real>343.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>L</string>
        <key>x</key>
        <real>378.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>M</string>
        <key>x</key>
        <real>409.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>41.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>42.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>N</string>
        <key>x</key>
        <real>453.0</real>
        <key>y</key>
        <real>2</real>
        <key>width</key>
        <real>32.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>Ñ</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>31.0</real>
        <key>height</key>
        <real>52.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-49.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>O</string>
        <key>x</key>
        <real>41.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>35.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>40.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>P</string>
        <key>x</key>
        <real>83.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>Q</string>
        <key>x</key>
        <real>118.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>37.0</real>
        <key>height</key>
        <real>43.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>39.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>R</string>
        <key>x</key>
        <real>159.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>30.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>35.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>S</string>
        <key>x</key>
        <real>196.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>28.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>T</string>
        <key>x</key>
        <real>229.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>31.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>-1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>32.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>U</string>
        <key>x</key>
        <real>263.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>V</string>
        <key>x</key>
        <real>302.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>33.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>W</string>
        <key>x</key>
        <real>337.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>49.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>51.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>X</string>
        <key>x</key>
        <real>390.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>32.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>34.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>Y</string>
        <key>x</key>
        <real>426.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>31.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>Z</string>
        <key>x</key>
        <real>461.0</real>
        <key>y</key>
        <real>56.0</real>
        <key>width</key>
        <real>33.0</real>
        <key>height</key>
        <real>35.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-33.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>a</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>29.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>b</string>
        <key>x</key>
        <real>34.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>c</string>
        <key>x</key>
        <real>67.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>29.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>26.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>d</string>
        <key>x</key>
        <real>95.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>32.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>e</string>
        <key>x</key>
        <real>129.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>28.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>27.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>f</string>
        <key>x</key>
        <real>158.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>22.0</real>
        <key>height</key>
        <real>42.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-39.0</real>
        <key>xadvance</key>
        <real>25.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>g</string>
        <key>x</key>
        <real>185.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>41.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>h</string>
        <key>x</key>
        <real>217.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>i</string>
        <key>x</key>
        <real>250.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>9.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>15.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>j</string>
        <key>x</key>
        <real>267.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>18.0</real>
        <key>height</key>
        <real>48.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-38.0</real>
        <key>xadvance</key>
        <real>22.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>k</string>
        <key>x</key>
        <real>291.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>l</string>
        <key>x</key>
        <real>323.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>9.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>17.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <real>342.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>35.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>41.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>n</string>
        <key>x</key>
        <real>385.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>23.0</real>
        <key>height</key>
        <real>29.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>ñ</string>
        <key>x</key>
        <real>416.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>42.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-39.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>o</string>
        <key>x</key>
        <real>447.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>25.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>p</string>
        <key>x</key>
        <real>474.0</real>
        <key>y</key>
        <real>110.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>41.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>q</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>42.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>r</string>
        <key>x</key>
        <real>33.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>25.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>s</string>
        <key>x</key>
        <real>60.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>22.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>23.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>t</string>
        <key>x</key>
        <real>85.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>21.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>26.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>u</string>
        <key>x</key>
        <real>113.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>28.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>v</string>
        <key>x</key>
        <real>145.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>29.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>24.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>w</string>
        <key>x</key>
        <real>171.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>37.0</real>
        <key>height</key>
        <real>28.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>x</string>
        <key>x</key>
        <real>210.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>y</string>
        <key>x</key>
        <real>241.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>28.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>z</string>
        <key>x</key>
        <real>271.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>28.0</real>
        <key>height</key>
        <real>29.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-27.0</real>
        <key>xadvance</key>
        <real>30.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>1</string>
        <key>x</key>
        <real>303.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>17.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>22.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>2</string>
        <key>x</key>
        <real>327.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>3</string>
        <key>x</key>
        <real>362.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>23.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>4.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>4</string>
        <key>x</key>
        <real>395.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>28.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>5</string>
        <key>x</key>
        <real>430.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>4.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>6</string>
        <key>x</key>
        <real>465.0</real>
        <key>y</key>
        <real>164.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-37.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>7</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>28.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>33.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>8</string>
        <key>x</key>
        <real>37.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>9</string>
        <key>x</key>
        <real>70.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>26.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>0</string>
        <key>x</key>
        <real>103.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>37.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>31.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>"</string>
        <key>x</key>
        <real>136.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>17.0</real>
        <key>height</key>
        <real>15.0</real>
        <key>xbearing</key>
        <real>4.0</real>
        <key>ybearing</key>
        <real>-39.0</real>
        <key>xadvance</key>
        <real>27.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>!</string>
        <key>x</key>
        <real>165.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>10.0</real>
        <key>height</key>
        <real>38.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>16.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>'</string>
        <key>x</key>
        <real>183.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>7.0</real>
        <key>height</key>
        <real>15.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-39.0</real>
        <key>xadvance</key>
        <real>13.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>?</string>
        <key>x</key>
        <real>198.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>22.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>25.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>.</string>
        <key>x</key>
        <real>225.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>10.0</real>
        <key>height</key>
        <real>10.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-8.0</real>
        <key>xadvance</key>
        <real>18.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>,</string>
        <key>x</key>
        <real>245.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>11.0</real>
        <key>height</key>
        <real>16.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-8.0</real>
        <key>xadvance</key>
        <real>15.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>;</string>
        <key>x</key>
        <real>262.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>12.0</real>
        <key>height</key>
        <real>31.0</real>
        <key>xbearing</key>
        <real>5.0</real>
        <key>ybearing</key>
        <real>-24.0</real>
        <key>xadvance</key>
        <real>22.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>:</string>
        <key>x</key>
        <real>286.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>10.0</real>
        <key>height</key>
        <real>27.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-25.0</real>
        <key>xadvance</key>
        <real>17.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>(</string>
        <key>x</key>
        <real>305.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>16.0</real>
        <key>height</key>
        <real>50.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-40.0</real>
        <key>xadvance</key>
        <real>18.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>)</string>
        <key>x</key>
        <real>325.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>16.0</real>
        <key>height</key>
        <real>50.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-41.0</real>
        <key>xadvance</key>
        <real>19.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>[</string>
        <key>x</key>
        <real>346.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>14.0</real>
        <key>height</key>
        <real>50.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-40.0</real>
        <key>xadvance</key>
        <real>19.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>]</string>
        <key>x</key>
        <real>367.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>15.0</real>
        <key>height</key>
        <real>49.0</real>
        <key>xbearing</key>
        <real>0.0</real>
        <key>ybearing</key>
        <real>-40.0</real>
        <key>xadvance</key>
        <real>18.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>{</string>
        <key>x</key>
        <real>387.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>17.0</real>
        <key>height</key>
        <real>52.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-42.0</real>
        <key>xadvance</key>
        <real>19.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>}</string>
        <key>x</key>
        <real>408.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>18.0</real>
        <key>height</key>
        <real>52.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-42.0</real>
        <key>xadvance</key>
        <real>20.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string><</string>
        <key>x</key>
        <real>430.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>21.0</real>
        <key>height</key>
        <real>28.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>23.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>></string>
        <key>x</key>
        <real>455.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>21.0</real>
        <key>height</key>
        <real>28.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>24.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>|</string>
        <key>x</key>
        <real>481.0</real>
        <key>y</key>
        <real>218.0</real>
        <key>width</key>
        <real>8.0</real>
        <key>height</key>
        <real>48.0</real>
        <key>xbearing</key>
        <real>4.0</real>
        <key>ybearing</key>
        <real>-42.0</real>
        <key>xadvance</key>
        <real>16.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>/</string>
        <key>x</key>
        <real>2</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>47.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-41.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>@</string>
        <key>x</key>
        <real>33.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>39.0</real>
        <key>height</key>
        <real>40.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>43.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>\</string>
        <key>x</key>
        <real>78.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>25.0</real>
        <key>height</key>
        <real>45.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-40.0</real>
        <key>xadvance</key>
        <real>28.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>^</string>
        <key>x</key>
        <real>108.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>21.0</real>
        <key>height</key>
        <real>14.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-42.0</real>
        <key>xadvance</key>
        <real>26.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>$</string>
        <key>x</key>
        <real>136.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>48.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-41.0</real>
        <key>xadvance</key>
        <real>34.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>-</string>
        <key>x</key>
        <real>172.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>22.0</real>
        <key>height</key>
        <real>9.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-16.0</real>
        <key>xadvance</key>
        <real>28.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>%</string>
        <key>x</key>
        <real>202.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>40.0</real>
        <key>height</key>
        <real>44.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-40.0</real>
        <key>xadvance</key>
        <real>46.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>+</string>
        <key>x</key>
        <real>250.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>27.0</real>
        <key>height</key>
        <real>30.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-26.0</real>
        <key>xadvance</key>
        <real>32.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>=</string>
        <key>x</key>
        <real>284.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>18.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-20.0</real>
        <key>xadvance</key>
        <real>29.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>#</string>
        <key>x</key>
        <real>315.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>40.0</real>
        <key>height</key>
        <real>41.0</real>
        <key>xbearing</key>
        <real>1.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>46.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>_</string>
        <key>x</key>
        <real>363.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>37.0</real>
        <key>height</key>
        <real>8.0</real>
        <key>xbearing</key>
        <real>-1.0</real>
        <key>ybearing</key>
        <real>-1.0</real>
        <key>xadvance</key>
        <real>37.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>&</string>
        <key>x</key>
        <real>402.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>35.0</real>
        <key>height</key>
        <real>39.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-36.0</real>
        <key>xadvance</key>
        <real>38.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>~</string>
        <key>x</key>
        <real>442.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>29.0</real>
        <key>height</key>
        <real>11.0</real>
        <key>xbearing</key>
        <real>3.0</real>
        <key>ybearing</key>
        <real>-35.0</real>
        <key>xadvance</key>
        <real>34.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
    <dict>
        <key>name</key>
        <string>*</string>
        <key>x</key>
        <real>478.0</real>
        <key>y</key>
        <real>272.0</real>
        <key>width</key>
        <real>24.0</real>
        <key>height</key>
        <real>24.0</real>
        <key>xbearing</key>
        <real>2.0</real>
        <key>ybearing</key>
        <real>-43.0</real>
        <key>xadvance</key>
        <real>27.0</real>
        <key>yadvance</key>
        <real>0.0</real>
    </dict>
</array>
</plist>
